[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
django = "*"
django-extensions = "*"
djangorestframework = "*"
psycopg2 = "*"
django-model-utils = "*"
factory-boy = "*"
django-cors-headers = "*"

[dev-packages]
ipython = "*"
